.about-page img {
  width: 100%;
  margin-bottom: 35px;
  border-radius: 0 0 25px 25px;
}
.about-page .aboutHolder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-page .aboutHolder .card h3 {
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border-top-left-radius: 17px;
  background: var(--section-color);
}
.about-page .aboutHolder .card.active h3 {
  color: var(--main-color);
}
.about-page .aboutHolder .card.active svg {
  color: var(--main-color);
  transform: rotate(180deg);
}
.about-page .aboutHolder .card h3::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  z-index: 5;
  transition: 0.6s;
  background: var(--main-color);
  transform: translate(-50%, 30px);
}
.about-page .aboutHolder .card.active h3::before {
  width: 100%;
}
.about-page .aboutHolder .card .details {
  background: var(--section-color);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: 0.3s;
  z-index: 1000;
  overflow: hidden;
  border-radius: 6px;
  transform: scaleY(0);
  transform-origin: top center;
}
.about-page .aboutHolder .card.active .details {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  transition: 0.6s;
  height: auto;
  padding: 20px;
  padding-left: 35px;
}
.about-page .aboutHolder .card .details p {
  position: relative;
}
.about-page .aboutHolder .card .details p::before {
  content: '';
  position: absolute;
  left: -18px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--main-color);
}


.contact-page {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.mapHolder {
  height: 440px;
  padding: 0;
  margin-top: 40px;
  border-radius: 8px;
  overflow: hidden;
}
.contact-page .info-contact {
  width: 40%;
  background: var(--section-color);
  padding: 25px 30px 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contact-page .info-contact .icon {
  width: 60px;
  height: 55px;
  padding: 10px;
  display: flex;
  background: var(--main-color);
  border-radius: 7px;
  transition: 0.3s;
  color: white;
}
.contact-page .info-contact > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-page .info-contact h1 {
  font-size: 28px;
  margin-bottom: -5px;
}
.contact-page .info-contact p {
  font-size: 15px;
}
.contact-page .info-contact > div h3  {
  font-size: 20px;
  margin-bottom: 4px;
}
.contact-page .info-contact > div p {
  margin-bottom: 2px;
}
.contact-page .info-contact .iconHolder {
  display: flex;
  gap: 15px;
}
.contact-page .info-contact .iconHolder .icon {
  background: var(--section-color);
  width: 50px;
  height: 45px;
  padding: 7px;
}
.contact-page .info-contact .iconHolder .icon:hover {
  background: var(--main-color);
}
.contact-page .info-contact .follow {
  scale: 1.05;
  gap: 10px;
  transform: translateX(12px);
}
.contact-page .info-contact .follow .social {
  display: flex;
  align-items: center;
  gap: 8px;
}
.contact-page .info-contact .follow svg {
  padding: 11px;
  height: 38px;
  width: 38px;
  border-radius: 5px;
  background: #656a6e;
}
body.light .contact-page .info-contact .follow svg {
  background: var(--body-color);
}
.contact-page .info-contact .follow svg:hover {
  border-radius: 12px;
  background: var(--main-color);
}

.contact-page .contact  {
  display: flex;
  gap: 28px;
  margin-bottom: -50px;
}
.contact-page form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  transform: translateY(8px);
}
.contact-page form .holder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 9px;
}
.contact-page form .holder .customInput {
  width: 50%;
}
.contact-page form .customInput {
  width: 100%;
}
.contact-page form button {
  width: 100%;
  margin-top: 5px;
}












@media (max-width: 992px) { 
  .contact-page {
    gap: 20px;
  }
  .mapHolder {
    width: 100%;
    height: 400px;
    border-radius: 0;
  }
  .contact-page .info-contact {
    width: 100%;
    padding: 25px;
  }
  .contact-page .contact {
    flex-direction: column-reverse;
  }

}
@media (max-width: 768px) { 
  .mapHolder {
    height: 300px;
  }
  .contact-page .info-contact h1 {
    font-size: 25px; 
  }
}