.about-page .mapHolder {
  width: 100%;
  height: 440px;
  padding: 0;
  margin: 33px 0;
  border-radius: 8px;
  overflow: hidden;
}
.about-page .aboutHolder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-page .aboutHolder .card h3 {
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border-top-left-radius: 17px;
  background: var(--section-color);
}
.about-page .aboutHolder .card.active h3 {
  color: var(--main-color);
}
.about-page .aboutHolder .card.active svg {
  color: var(--main-color);
  transform: rotate(180deg);
}
.about-page .aboutHolder .card h3::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  z-index: 5;
  transition: 0.6s;
  background: var(--main-color);
  transform: translate(-50%, 30px);
}
.about-page .aboutHolder .card.active h3::before {
  width: 100%;
}
.about-page .aboutHolder .card .details {
  background: var(--section-color);
  border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: 0.3s;
  z-index: 1000;
  overflow: hidden;
  border-radius: 6px;
  transform: scaleY(0);
  transform-origin: top center;
}
.about-page .aboutHolder .card.active .details {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  transition: 0.6s;
  height: auto;
  padding: 20px;
  padding-left: 35px;
}
.about-page .aboutHolder .card .details p {
  position: relative;
}
.about-page .aboutHolder .card .details p::before {
  content: '';
  position: absolute;
  left: -18px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--main-color);
}

.wishlist.main-holder {
  margin-top: 50px;
}
.cart.main-holder {
  display: flex;
  margin-top: 36px;
  gap: 16px;
  margin-bottom: -50px;
}
.cart.main-holder .noCart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.cart.main-holder .noCart svg {
  color: var(--main-color);
  font-size: 155px;
}
.cart.main-holder .noCart h2 {
  margin-bottom: -10px;
}
.products-list-holder {
  background: var(--section-color);
  border-radius: 8px;
  width: 70%;
  overflow: hidden;
  height: fit-content;
}
.products-list-holder .nav-putton {
  display: flex;
  color: var(--text-color);
  padding: 26px 23px;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
}
.products-list-holder .nav-putton h4 {
  font-size: 15px;
  width: 17%;
  text-align: center;
}
.products-list-holder .cart-products-holder {
  max-height: 69.3vh;
  overflow: auto;
}
.products-list-holder .cart-products-holder::-webkit-scrollbar-track {
  background: var(--section-color);
}
.products-list-holder .cart-products-holder::-webkit-scrollbar {
  width: 6px;
}
.products-list-holder .cart-products-holder::-webkit-scrollbar-thumb {
  border-radius: 0 0 0 6px;
}
.products-list-holder .cart-products .card.full {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
body.dark .products-list-holder .cart-products .card.full:last-child {
  border: none;
}
.products-list-holder .cart-products .card.full > *  {
  width: 20%;
  position: relative;
}
.products-list-holder .cart-products .card.full .image {
  transform: translateX(14px);
}
.products-list-holder .cart-products .card.full img {
  width: 110px;
  height: 110px;
}
.products-list-holder .cart-products .card div:first-child:before {
  content: '';
  position: absolute;
  top: 13px;
  left: 15px;
  z-index: -1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #eabc41;
}
body.dark .products-list-holder .cart-products .card div:first-child:before {
  background: #caa02da8;
}
.products-list-holder .cart-products .card.full .text h5 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 4px;
}
.products-list-holder .cart-products .card.full .text h6 {
  font-size: 13px;
  color: var(--paragraph);
}
.products-list-holder .cart-products .card.full p {
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}
.products-list-holder .cart-products .card.full .trash {
  color: var(--text-color);
  font-size: 30px;
  width: 43px;
  height: 43px;
  padding: 9px;
  cursor: pointer;
}
.products-list-holder .cart-products .card.full .trash:hover {
  color: var(--main-color);
}
.products-list-holder .cart-products .card.full div:last-child {
  text-align: center;
}



.products-list-holder .icons { 
  display: flex;
  justify-content: center;
}
.products-list-holder .icons svg {
  color: var(--text-color);
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--paragraph);
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}
.products-list-holder .icons .decrement {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.products-list-holder .icons .increment {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.products-list-holder .icons svg:hover {
  color: white;
  background-color: var(--main-color);
}
.products-list-holder .icons span {
  width: 35px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--paragraph);
  border-bottom: 1px solid var(--paragraph);
  color: var(--text-color);
}




.products-list-holder .card.mobile {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  gap: 10px;
}
.products-list-holder .card.mobile:last-child {
  border: none;
}
.products-list-holder .card.mobile .image {
  position: relative;
}
.products-list-holder .card.mobile .image::before {
  z-index: 0 !important;
  top: 13px !important;
  left: 20px !important;
  width: 100px !important;
  height: 100px !important;
}
.products-list-holder .card.mobile img {
  width: 140px;
  height: 140px;
  z-index: 1;
  position: relative;
}
.products-list-holder .card.mobile .type {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 17px 5px;
}
.products-list-holder .card.mobile .type > h4 {
  font-size: 15px;
}
.products-list-holder .card.mobile .type h5 {
  color: var(--paragraph);
}
.products-list-holder .card.mobile .type h5 span {
  color: var(--main-color);
  text-transform: capitalize;
  margin-right: 6px;
  font-weight: 800;
  font-size: 14px;
}
.products-list-holder .card.mobile .price p.saleNum {
  position: relative;
  top: unset;
  right: unset;
}
.products-list-holder .card.mobile .icons {
  scale: 0.8;
  margin-bottom: 0;
  width: fit-content;
  transform: translateX(-10px);
}
.products-list-holder .card.mobile h4 {
  font-size: 14px;
  display: flex;
  gap: 5px;
}
.products-list-holder .card.mobile h4 span {
  color: var(--main-color);
  font-size: 15px;
}
.products-list-holder .card.mobile .trash {
  border: none;
  width: 57px;
  position: absolute;
  right: -60px;
  color: var(--red-color);
}
.products-list-holder .card.mobile .trash:hover {
  background: transparent;
}
.cart-code {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 8px;
  overflow: hidden;
  padding: 30px;
  background: var(--section-color);
  gap: 31px;
}
.cart-code > div {
  height: fit-content;
}
.cart-code > div .holder {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart-code > div .holder p {
  color: var(--text-color);
}
.cart-code> div .holder .apply {
  padding: 26px 0;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cart-code > div .holder input {
  color: var(--text-color);
  padding: 13px 15px;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border-right: none;
  width: 90%;
}
body.light .cart-code > div .holder input {
  background: var(--body-color);
}
.cart-code > div .holder .ptn {
  display: flex;
}
.cart-code > div .product div:first-child {
  border-top: 1px solid var(--paragraph);
}
.cart-code > div .productsNameHolder {
  overflow-y: auto;
  max-height: 425px;
  padding-top: 0;
}
.cart-code > div .productsNameHolder::-webkit-scrollbar-track {
  background: var(--body-color);
}
.cart-code > div .productsNameHolder::-webkit-scrollbar {
  width: 6px;
}
.cart-code > div .productsNameHolder::-webkit-scrollbar-thumb {
  border-radius: 0 0 0 6px;
}
.cart-code .product .productsNameHolder div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--paragraph);
  padding: 10px 0;
  padding-right: 12px;
}
.cart-code > div .product h6 {
  font-size: 15px;
  color: var(--text-color);
  margin-bottom: 10px;
}
.cart-code > div .product h5 {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  padding: 20px 0 0;
}
.cart-code > div .product div span {
  color: var(--paragraph);
  font-size: 14px;
  display: flex;
  gap: 7px;
}
.cart-code > div .product div span h6 {
  margin: 0;
  color: var(--paragraph);
}
.cart-code > div .product div .final-span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
}
.cart-code > div .final {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart-code > div a {
  width: 100%;
  margin: 18px 0 0;
}



/*!=================== WISHLIST ==================*/

.main-holder.wishlist .products-list-holder {
  width: 100%;
}
.main-holder.wishlist .cart-products .card.full .sale {
  font-weight: 600;
  font-size: 17px;
  text-align: center;
}
.main-holder.wishlist .cart-products .card.full .availability {
  text-align: center;
}
.main-holder.wishlist .cart-products .card .btn {
  display: flex;
  justify-content: center;
}
.cart-products-holder .card .price {
  color: var(--main-color);
}

/*!=================== COMPARE ==================*/

.compare-page.container {
  width: 90% !important;
}
.compare-page.container .table {
  overflow: auto;
  margin-top: 50px;
  border-radius: 14px;
  background: var(--section-color);
  box-shadow: 0 0 6px 0px var(--main-color);
}
.compare-page.container .table th,
.compare-page.container .table td {
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 30px;
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: 500;
}
.compare-page.container .table td:first-child,
.compare-page.container .table th:first-child {
  color: var(--main-color);
  text-align: center;
}
.compare-page.container .table th:first-child {
  padding: 0;
}
.compare-page.container .table th:first-child,
.compare-page.container .table td:first-child { 
  border-left: none;
}
.compare-page.container .mainImage {
  position: relative;
}
.compare-page.container .mainImage::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 62%;
  height: 62%;
  border-radius: 50%;
  background: #eabc41;
}
body.dark .compare-page.container .mainImage::before {
  background: #caa02da8;
}
.compare-page.container .mainImage img {
  position: relative;
  height: 300px;
  width: 300px;
  padding: 20px;
  z-index: 2;
  object-fit: cover;
}
.compare-page.container .review {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.compare-page.container .price {
  justify-content: center;
}
.compare-page.container .brand {
  display: flex;
  justify-content: center;
}
.compare-page.container .brand p {
  font-size: 28px;
}
.compare-page.container .brand img {
  width: 130px;
  max-height: 60px;
  object-fit: cover;
}
.compare-page.container .state {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 340px;
}
.compare-page.container .state span {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 4px;
}
.compare-page.container .price p.saleNum {
  position: relative !important;
  right: unset !important;
  top: unset !important;
  color: #1e9147;
  font-weight: 500;
}
.compare-page.container ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.compare-page.container .details,
.compare-page.container td .about li,
.compare-page.container td .specifications li {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.7;
  color: var(--paragraph);
}
.compare-page.container .about li::before,
.compare-page.container .specifications li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -17px;
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background-color: var(--main-color);
}
.compare-page.container p.specific {
  text-align: center;
}
.compare-page.container .actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.compare-page.container .actions .out {
  background: var(--body-color);
  cursor: not-allowed;
}
.compare-page.container .actions .remove {
  background: #e03a38;
}


/*!=================== MEDIA QUERY ==================*/

@media (max-width: 1400px) {
  .products-list-holder .cart-products i.trash {
    width: 53px;
  }
}
@media (max-width: 1200px) {
  .products-list-holder .cart-products h3.discount {
    width: 235px;
  }
  .main-cart-holder {
    flex-direction: column !important;
  }
  .products-list-holder {
    width: unset;
  }
}

@media (min-width: 992px) { 
  .products-list-holder .nav-putton .Image {
    transform: translateX(-23px);
  }
  .products-list-holder .nav-putton .Name {
    transform: translateX(-21px);
  }
  .products-list-holder .nav-putton .QuantityPrice {
    transform: translateX(10px);
  }
  .products-list-holder .nav-putton h4.Remove {
    transform: translateX(17px);
  }
}

@media (max-width: 992px) {
  .mapHolder {
    width: 100%;
    height: 400px;
    border-radius: 0;
  }
  .main-holder.cart {
    flex-direction: column;
  }
  .products-list-holder .cart-products .card.full .info {
    padding: 0;
  }
  .products-list-holder .cart-products .card.full .info .text h5 {
    font-size: 14px;
  }
  .products-list-holder .cart-products .card.full .info img {
    width: 80px;
  }
  .products-list-holder .cart-code > div {
    width: 48% !important;
  }
  .products-list-holder .icons {
    margin-right: 33px;
  }
  .products-list-holder .cart-products .card.full .info .text {
    width: 156px;
  }
  .products-list-holder .icons {
    display: flex;
    justify-content: center;
    width: 150px;
    align-items: center;
    margin: 0;
  }
  .products-list-holder .cart-products h3 {
    left: 0;
  }
  .products-list-holder .cart-products h3.discount {
    width: 197px;
    position: relative;
    left: 15px;
    text-align: center;
  }
  .products-list-holder .cart-products i.trash {
    width: 67px;
  }
  .products-list-holder .cart-code > div .holder .apply {
    padding: 26px 0;
  }

  .products-list-holder .cart-products .card.full .image {
    transform: translateX(0);
  }
  .products-list-holder .cart-products .card.full .text {
    width: 30%;
    transform: translateX(10px);
  }
  .products-list-holder .nav-putton .Image {
    width: 12.5%;
    margin-right: 0;
    margin-left: 0;
  }
  .products-list-holder .nav-putton .Name {
    width: 30.5%;
  }
  .products-list-holder .nav-putton .QuantityPrice {
    transform: translateX(11px);
  }
  .products-list-holder .nav-putton .Remove {
    transform: translateX(16px);
  }
  .products-list-holder .nav-putton h4 {
    width: 17%;
    text-align: center;
  }
  .products-list-holder .cart-products-holder {
    max-height: 48.5vh;
  }
  .cart-code > div .productsNameHolder {
    max-height: 314px;
  }
  .products-list-holder .cart-products .card.full {
    padding-left: 13px;
  }
  .main-holder.wishlist .cart-products .card.full .text h5,
  .main-holder.wishlist .cart-products .card.full .availability {
    font-size: 13px;
  }
  .main-holder.wishlist .cart-products .card.full p,
  .main-holder.wishlist .cart-products .card.full .sale {
    font-size: 15px;
  }
  .main-holder.wishlist .cart-products .card.full .main-buttom {
    width: 110px;
  }
  .compare-page.container {
    width: 98% !important;
  }
  .compare-page.container .table th, .compare-page.container .table td {
    padding: 20px;
  }
  .compare-page.container ul {
    transform: translateX(10px);
  }
  .checkout-page {
    gap: 35px;
    flex-direction: column;
  }
  .checkout-page .cart-code,
  .checkout-page form {
    width: 100% !important;
  }
}

@media (max-width: 768px) { 
  .mapHolder {
    height: 300px;
  }
  .main-holder.cart {
    flex-direction: column-reverse;
  } 
  .products-list-holder {
    padding: 14px;
  }
  .products-list-holder .nav-putton {
    display: none;
  }
  .main-cart-holder {
    padding: 0 12px;
    border-radius: 0;
    flex-direction: column-reverse;
  }
  .products-list-holder .cart-products .card.full {
    flex-direction: column;
    align-items: flex-start;
  }
  .products-list-holder .container {
    flex-direction: column;
    gap: 30px;
    padding: 100px 18px;
  }
  .products-list-holder .cart-code > div {
    width: 100% !important;
    flex-direction: column;
    gap: 30px;
  }
  .cart-code > div .productsNameHolder {
    max-height: 158px;
  }
  .products-list-holder .cart-products .card.full .info img {
    width: 150px;
  }
  .products-list-holder .cart-products .card.full {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-holder.cart .price p.lastPrice {
    font-size: 14px;
  }
  .products-list-holder .icons {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
  .products-list-holder .price {
    margin: 0;
  }
  .products-list-holder .discount {
    margin: 0;
    margin-bottom: 10px;
  }
  .products-list-holder .cart-products .card.full .info {
    position: relative;
    right: 0px;
  }
  .products-list-holder .icons,
  .products-list-holder .cart-products h3.discount {
    left: 0;
  }
  .products-list-holder .cart-products-holder {
    max-height: unset;
  }
  .main-holder.wishlist .card.mobile {
    padding: 10px 0;
    position: relative;
  }
  .main-holder.wishlist .card.mobile .main-buttom {
    width: 106px;
    height: 35px;
    font-size: 14px;
  }
  .main-holder.wishlist .card.mobile .secondHolder {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .main-holder.wishlist .card.mobile .secondHolder .text {
    font-size: 18px;
  }
  .main-holder.wishlist .card.mobile .secondHolder .text h6 {
    color: var(--paragraph);
  }

  .main-holder.wishlist .cart-products .card .btn {
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
  }
  .main-holder.wishlist .card.mobile .trash {
    border: none;
    width: 24px;
    height: 24px;
    right: unset;
    position: relative;
    color: var(--red-color);
  }
  .compare-page.container .table {
    border-radius: 6px;
  }
  .compare-page.container .table td:first-child {
    padding: 10px;
  }
}

