/*!================== Product-Page ==================*/
.single-product .hide {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #0000007a;
  transition: 0.3s;
}
.single-product .top-space {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 25px 0 45px;
}
.single-product .image-holder {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 50%;
  height: 500px;
}
.single-product .image-holder .small-images {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 85px;
}
.single-product .image-holder .small-images img {
  background: var(--section-color);
  height: 78px;
  object-fit: contain;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
}
.single-product .image-holder .small-images img.active,
.single-product .image-holder .small-images img:hover {
  border: 2px solid var(--main-color);
}
body.dark .single-product .image-holder .small-images img.active,
body.dark .single-product .image-holder .small-images img:hover {
  border: 1px solid var(--main-color);
  transition: border 0.3s !important;
}
.single-product .image-holder .mainImage {
  background: var(--section-color);
  width: 660px;
  height: 455px;
  display: flex;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: grab;
}
.single-product .image-holder .mainImage img {
  height: 100%;
  width: 100%;
  padding: 20px;
  object-fit: cover;
  transition: scale 0.2s;
  transform-origin: center;
}
.single-product .image-holder .mainImage:hover img {
  scale: 1.5;
}
.single-product .info-holder {
  width: 50%;
}
.single-product .info-holder .type {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 17px;
  color: var(--paragraph);
  margin-bottom: 5px;
}
.single-product .info-holder .type span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
}
.single-product .info-holder h3 {
  font-size: 20px;
}
.single-product .info-holder .review {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 8px 0px;
}
.single-product .info-holder .review p {
  font-size: 15px;
}
.single-product .info-holder .state {
  font-weight: 500;
  color: var(--paragraph);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 330px;
}
.single-product .info-holder .state svg {
  font-size: 16px;
}
.single-product .info-holder .state span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.single-product .info-holder .state .pieces-left {
  text-transform: capitalize;
  font-size: 15px;
}
.single-product .info-holder .price p.saleNum {
  position: relative;
  top: unset;
  right: unset;
}
.single-product .brand {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  margin: -8px 0 0px;
} 
.single-product .brand img {
  width: 80px;
  max-height: 60px;
  object-fit: cover;
} 
.single-product p.details {
  letter-spacing: 1px;
  line-height: 1.3;
}
.single-product .info-holder .buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.single-product .info-holder .buttons button {
  width: 160px;
  height: 45px;
  background: var(--section-color);
  color: var(--text-color);
  gap: 5px;
  box-shadow: 0px 0px 20px #00000012;
}
.single-product .info-holder .buttons button svg {
  font-size: 18px;
}
.single-product .info-holder .buttons button.add,
.single-product .info-holder .buttons button:hover {
  color: white;
  background: var(--main-color);
}
.single-product .info-holder .buttons button.add:hover {
  background-color:var(--hover-color);
}
.single-product .info-holder .buttons button h5 {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  gap: 4px;
}
.single-product .big-area {
  display: flex;
  background-color: var(--section-color);
  padding: 39px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 20px #00000012;
}
.single-product .big-area h5 {
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 17px;
  font-size: 18px;
}
.single-product .big-area .info-area1 {
  min-width: 480px;
}
.single-product .big-area .info-area1 .details p {
  max-width: 666px;
  margin-bottom: 30px;
  color: var(--paragraph);
  line-height: 1.6;
}
.single-product .big-area ul {
  margin-bottom: 22px;
}
.single-product .big-area ul li {
  color: var(--paragraph);
  margin-bottom: 8px;
  position: relative;
}
.single-product .big-area .features li {
  padding-left: 17px;
  max-width: 445px;
}
.single-product .big-area .features li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background-color: var(--main-color);
}
.single-product .big-area .info-area1 h5 {
  margin-bottom: 12px;
}
.single-product .big-area .specifications li {
  padding: 8px;
  margin: 0;
  margin-top: -1px;
  border-bottom: 1px solid var(--paragraph);
  border-top: 1px solid var(--paragraph);
}
.single-product .big-area .specifications li:first-child {
  border-top: 0;
}
.single-product .big-area .specifications li:last-child {
  border-bottom: 0;
}
.single-product .big-area .specifications li span {
  color: var(--text-color);
  font-weight: 600;
  margin-right: 3px;
}
body.dark .single-product .big-area .specifications li span {
  font-weight: 500;
}
.single-product .big-area .specifications h5 {
  margin-bottom: 8px;
}
.single-product .suggestedProducts .container { 
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 60px 30px;
}
.single-product .suggestedProducts .container .swiper {
  display: flex;
  flex-direction: column;
  padding: 33px 0;
}
.single-product .suggestedProducts .container > div > div {
  position: relative;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.single-product .suggestedProducts .container .productsTitle {
  position: relative;
  color: var(--main-color);
  text-transform: capitalize;
  width: fit-content;
}
.single-product .suggestedProducts .productsTitle::before {
  content: '';
  position: absolute;
  left: -10px;
  bottom: -12px;
  height: 2px;
  width: 66%;
  background: var(--main-color);
}
.single-product .suggestedProducts .productsTitle::after {
  content: '';
  position: absolute;
  left: -10px;
  top: 85%;
  height: 150%;
  width: 2px;
  background: var(--main-color);
}
.single-product .botom-area {
  display: flex;
  justify-content: space-between;
}
.single-product .overall {
  width: 32%;
  height: fit-content;
  background: var(--section-color);
  padding: 30px;
  box-shadow: 0px 0px 20px #00000012;
}
.single-product .overall h3 {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 20px;
}
.single-product .overall ul {
  max-width: 190px;
}
.single-product .overall li {
  display: flex;
  justify-content: space-between;
  color: var(--paragraph);
  margin-bottom: 8px;
}
.single-product .overall li .stars {
  color: var(--main-color);
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;;
}
.single-product .overall button {
  color: white !important;
  width: 100%;
  margin: 27px 0 -4px;
}

.reviewModal {
  background: var(--section-color);
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  padding-bottom: 20px;
  border-radius: 6px;
  width: 500px;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  scale: 0.6;
  z-index: -1;
}
.reviewModal.active {
  opacity: 1;
  visibility: visible;
  scale: 1;
  z-index: 100;
  transition: zindex 0s;
  transition: 0.3s;
}
.reviewModal > svg {
  position: absolute;
  right: 33px;
  color: var(--text-color);
  font-size: 26px;
  transform: translateY(-1px);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.reviewModal > svg:hover {
  color: white;
  background: var(--red-color);
}
.reviewModal .input {
  margin: 10px 0px;
}
.reviewModal span {
  margin: 5px 1px 0px;
  font-size: 25px;
  transform: translateY(0px);
}
.reviewModal button {
  width: 100px;
  height: 40px;
  align-self: self-end;
  position: absolute;
  bottom: 13px;
  background: var(--main-color2);
}

@media(max-width:1600px) {
  .single-product .suggestedProducts .main-card .holder {
    padding: 18px;
  }
}

@media(max-width:1200px) {
  .single-product .top-space {
    gap: 30px;
    justify-content: space-between;
  }
  .single-product .image-holder {
    width: 57%;
  }
  .single-product .info-holder {
    width: 42%;
  }
  .single-product .big-area {
    flex-direction: column;
    gap: 15px;
  }
  .single-product .info-holder .buttons {
    flex-wrap: wrap;
  }
}

@media(max-width:992px) {
  .single-product .top-space {
    flex-direction: column;
  }
  .single-product .info-holder,
  .single-product .image-holder {
    width: 100%;
  }
  .single-product .info-holder .buttons button {
    width: 175px;
    height: 50px;
    border-radius: 6px; 
  }
  .single-product .big-area {
    gap: 0;
  }
  .single-product .overall h3 {
    font-size: 18px;
  }
  .single-product .overall {
    padding: 23px;
  }
  .single-product .big-area .info-area1 {
    gap: 0 !important;
  }
  .single-product .big-area .features li {
    max-width: 365px;
  }
  .single-product .suggestedProducts .container {
    gap: 12px;
    padding: 60px 8px;
  }

}

@media(max-width:768px) {
  .single-product .image-holder {
    height: fit-content;
  }
  .single-product .info-holder, .single-product .image-holder {
    flex-direction: column-reverse;
  }
  .single-product .image-holder .small-images {
    width: unset;
    flex-direction: row; 
  }
  .single-product .image-holder .mainImage {
    width: 100%;
    height: 250px; 
  }
  .single-product .image-holder .small-images img {
    height: 50px;
    width: 64px; 
  }
  .single-product .info-holder .buttons {
    gap: 12px;
    flex-wrap: wrap;
  }
  .single-product .info-holder .buttons button {
    width: 48%;
    height: 45px; 
  }
  .botom-area {
    flex-direction: column;
    gap: 30px;
  }
  .overall,
  .ReviewS {
    width: 100%;
  }
  .ReviewS .card img {
    width: 60px;
  }
  .ReviewS h1 {
    margin-bottom: 35px;
  }
  .single-product .big-area .features li {
    max-width: 314px;
  }
  .reviewModal {
    width: 100%;
  }
  .single-product .overall,

  .single-product .big-area .info-area1 {
    min-width: unset;
  }
  .single-product .suggestedProducts .main-card .holder {
    padding: 10px;
  }
  .single-product .big-area .info-area1 {
    flex-direction: column;
  }
  .single-product .suggestedProducts .main-card .review p {
    text-align: center;
  }
}