


/*! ======================= LANDING ========================= */

.landing {
  display: flex;
  gap: 10px;
  flex-direction: row;
  max-width: 1720px;
  margin: 0 auto;
  border-top: 5px solid var(--main-color);
}

.landing .swiper {
  width: 132%;
  position: relative;
  height: 458px;
  overflow: hidden;
  border-bottom-left-radius: 50px;

}
.landing .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--main-color);
}

.landing .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second_section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  max-width: 40%;
  row-gap: 5px;
  column-gap: 10px;
}
.second_section .images {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: fit-content;
  width: 49%;
}
.second_section .images:after {
  content: "";
  position: absolute;
  right: -30%;
  top: -30%;
  width: 0;
  height: 0;
  transition: 0.6s;
  border-radius: 0;
  background: #00000058;
}
.second_section .images:hover::after {
  width: 155%;
  height: 155%;
  border-radius: 44%;
}
.second_section .images img {
  height: 224px;
  width: 100%;
  object-fit: cover;
}

/*! ======================= CATEGORIES ========================= */
.categories .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(346px, 1fr));
  gap: 22px;
}
.categories .pair-wrapper { 
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.categories .card {
  position: relative;
  min-height: 235px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 0 12px 30px !important;
  background-color: var(--section-color);
  align-items: flex-start;
  transition: 0.3s;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 0px 20px #00000012;
}
.categories .card:hover {
  transform: translateY(-7px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.pair-wrapper:first-child .card:first-child {
  border-top-left-radius: 30px;
}

.pair-wrapper:last-child .card:last-child {
  border-bottom-right-radius: 30px;
}

.pair-wrapper:first-child {
  transform: translateY(25px);
}
.pair-wrapper:last-child {
  transform: translateY(15px);
}
.categories .card img {
  position: absolute;
  right: 15px;
  width: 55%;
  top: 50%;
  transform: translateY(-50%);
}
.categories .card div h4 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--main-color);
  text-transform: uppercase;
}
.categories .card div ul a {
  display: block;
  margin-bottom: 7px;
  color: var(--paragraph);
  transition: 0.3s;
}
.categories .card div ul a:hover {
  color: var(--main-color);
  margin-left: 8px;
}

/*! ======================= PRODUCTS ========================= */

.products .sectionFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}
.products .sectionFilter li {
  background: var(--section-color);
  padding: 12px 22px;
  transition: 0.3s;
  cursor: pointer;
}
.products .sectionFilter li:hover,
.products .sectionFilter li.active { 
  color: white;
  background: var(--main-color);
}
.products .sectionFilter li:first-child {
  border-top-left-radius: 15px;
}
.products .sectionFilter li:last-child {
  border-top-right-radius: 15px;
}
.products .container .swiper {
  padding-bottom: 35px;
}

/*!================== OFFER ==================*/

.offer {
  padding-bottom: 90px;
}
.offer .container {
  display: flex;
  justify-content: space-between;
}
.offer .bigHolder  {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 66%;
}
.offer .bigHolder .products  {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}
.offer .main-card .image {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.offer .main-card .image img {
  width: 80%;
}

.offer .saleHolder {
  width: 32%;
  position: relative;
  background: var(--section-color);
  box-shadow: 0px 0px 20px #00000012;
  height: fit-content;
}
.offer .saleHolder .sectionTitleSale {
  position: absolute;
  writing-mode: vertical-rl;
  color: var(--main-color);
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  top: 50%;
  right: -35px;
  transform: translateY(-50%);
}
.offer .saleHolder .sectionTitleSale::before,
.offer .saleHolder .sectionTitleSale::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 80px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--main-color);
}
.offer .saleHolder .sectionTitleSale::before {
  top: -65%;
}
.offer .saleHolder .sectionTitleSale::after {
  bottom: -65%;
}
.offer .swiper-pagination {
  bottom: 12px !important;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 8px !important;
  border-radius: 4px !important;
}
body.dark .swiper-pagination-bullet {
  background: var(--section-color);
  opacity: 1;
}
body.dark .saleHolder .swiper-pagination-bullet {
  background: var(--body-color);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: var(--main-color) !important;
  width: 18px !important;
  height: 6px !important;
}
.offer .sale {
  padding-bottom: 35px !important;
  padding: 28px;
}
.offer .sale h3 {
  color: var(--text-color);
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.offer .sale h3:hover {
  color: var(--main-color);
}
.offer .sale h3 span {
  position: relative !important;
  width: 55px;
  right: 0;
  left: unset !important;
  top: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer .sale .image {
  margin-bottom: 20px;
}
.offer .sale .image img {
  max-width: 100%;
}
.offer .sale .stars {
  margin: 6px 0;
}
.offer .sale a {
  transition: 0.3s;
  font-size: 20px;
  font-weight: 600;
  color: white;
  width: 100%;
  height: 50px;
}
.offer .sale a:hover {
  background-color: var(--hover-color);
}
.offer .sale span {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.offer .sale span.price {
  gap: 12px;
  margin: 3px 0px;
  color: var(--main-color);
}
.offer .sale span p.saleNum{
  color: #1e9147;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}
.offer .sale span p {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--paragraph);
  margin: 8px 0;
  text-decoration: line-through;
}
.offer .sale .review {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 2px 0 -4px;
}
.offer .sale .review p {
  font-size: 15px;
}
.offer .sale p {
  color: var(--paragraph);
}
.offer .sale p.details {
  line-height: 1.5;
  text-transform: lowercase;
}
.offer .sale h2 {
  color: var(--text-color);
  font-size: 19px;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.offer .sale .timer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}
.offer .sale .timer span {
  display: flex;
  color: var(--main-color);
}
.offer .sale .timer div {
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.offer .sale .timer div h4 {
  color: var(--paragraph);
  font-size: 13px;
}

/*! ======================= BRANDS ========================= */

.brands {
  margin: 110px 0 -18px;
  background-color: var(--section-color);
  position: relative; 
  overflow: hidden;
}
.brands .holder {
  display: flex;
  width: 100%;
}
.brands .swiper-container {
  height: fit-content;
  display: flex;
  width: 200%;
  overflow: initial;
}
.brands .holder:first-child:hover .swiper-container {
  animation-play-state: paused;
}
.brands .holder:last-child:hover .swiper-container {
  animation-play-state: paused;
}
.brands .holder:first-child .swiper-container  {
  animation: 150s slide1 infinite linear;
}
.brands .holder:last-child .swiper-container {
  animation: 150s slide2 infinite linear;
}
@keyframes slide1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.brands .swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 158px;
  overflow: hidden;
  padding: 0 26px;
  cursor: pointer;
  width: 270px;
}
.brands .swiper-slide::after, 
.brands .swiper-slide:first-child:before {
  content: "";
  position: absolute;
  right: 0;
  height: 70px;
  width: 3px;
  background: var(--border2-color);
}
.brands .swiper-slide:first-child:before { 
  left: 0;
}
.brands .swiper-slide img {
  width: 135px;
  object-fit: contain;
}
.brands .swiper-slide h4 {
  position: absolute;
  width: 20%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  border-radius: 0;
  transition: border-radius 0.3s, bottom 0.3s, top 0.3s, width 0.5s;
  text-transform: capitalize;
  background: var(--main-color);
}
.brands .holder:first-child .swiper-slide h4 {
  top: -34px;
}
.brands .holder:last-child .swiper-slide h4 {
  bottom: -34px;
}
.brands .holder:first-child .swiper-slide:hover h4 {
  top: 0;
  width: 80%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.brands .holder:last-child .swiper-slide:hover h4 {
  bottom: 0;
  width: 80%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

/*!================== Product-Page ==================*/

.single-product .hide {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #0000007a;
  transition: 0.3s;
}

.single-product .top-space {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 25px 0 45px;
}
.single-product .image-holder {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 50%;
  height: 500px;
}
.single-product .image-holder .small-images {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 85px;
}
.single-product .image-holder .small-images img {
  background: var(--section-color);
  height: 78px;
  object-fit: contain;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
}
.single-product .image-holder .small-images img.active,
.single-product .image-holder .small-images img:hover {
  border: 2px solid var(--main-color);
}
body.dark .single-product .image-holder .small-images img.active,
body.dark .single-product .image-holder .small-images img:hover {
  border: 1px solid var(--main-color);
  transition: border 0.3s !important;
}
.single-product .image-holder .mainImage {
  background: var(--section-color);
  width: 660px;
  height: 455px;
  display: flex;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: grab;
}
.single-product .image-holder .mainImage img {
  height: 100%;
  width: 100%;
  padding: 20px;
  object-fit: cover;
  transition: scale 0.2s;
  transform-origin: center;
}
.single-product .image-holder .mainImage:hover img {
  scale: 1.5;
}
.single-product .info-holder {
  width: 50%;
}
.single-product .info-holder .type {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 17px;
  color: var(--paragraph);
  margin-bottom: 5px;
}
.single-product .info-holder .type span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
}
.single-product .info-holder h3 {
  font-size: 20px;
}
.single-product .info-holder .review {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 8px 0px;
}
.single-product .info-holder .review p {
  font-size: 15px;
}
.single-product .info-holder .state {
  font-weight: 500;
  color: var(--paragraph);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 330px;
}
.single-product .info-holder .state svg {
  font-size: 16px;
}
.single-product .info-holder .state span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.single-product .info-holder .state .pieces-left {
  text-transform: capitalize;
  font-size: 15px;
}
.single-product .brand {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  margin: -8px 0 0px;
} 
.single-product .brand img {
  width: 80px;
  max-height: 60px;
  object-fit: cover;
} 
.single-product p.details {
  letter-spacing: 1px;
  line-height: 1.3;
}
.single-product .info-holder .buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.single-product .info-holder .buttons button {
  width: 160px;
  height: 45px;
  background: var(--section-color);
  color: var(--text-color);
  gap: 5px;
  box-shadow: 0px 0px 20px #00000012;
}
.single-product .info-holder .buttons button svg {
  font-size: 18px;
}
.single-product .info-holder .buttons button.add,
.single-product .info-holder .buttons button:hover {
  color: white;
  background: var(--main-color);
}
.single-product .info-holder .buttons button.add:hover {
  background-color:var(--hover-color);
}
.single-product .big-area {
  display: flex;
  background-color: var(--section-color);
  padding: 39px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 20px #00000012;
}
.single-product .big-area h5 {
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 17px;
  font-size: 18px;
}
.single-product .big-area .info-area1 {
  min-width: 480px;
}
.single-product .big-area .info-area1 .details p {
  max-width: 666px;
  margin-bottom: 30px;
  color: var(--paragraph);
  line-height: 1.6;
}
.single-product .big-area ul {
  margin-bottom: 22px;
}
.single-product .big-area ul li {
  color: var(--paragraph);
  margin-bottom: 8px;
  position: relative;
}
.single-product .big-area .features li {
  padding-left: 17px;
  max-width: 445px;
}
.single-product .big-area .features li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50px;
  background-color: var(--main-color);
}
.single-product .big-area .info-area1 h5 {
  margin-bottom: 12px;
}

.single-product .big-area .specifications li {
  padding: 8px;
  margin: 0;
  margin-top: -1px;
  border-bottom: 1px solid var(--paragraph);
  border-top: 1px solid var(--paragraph);
}
.single-product .big-area .specifications li:first-child {
  border-top: 0;
}
.single-product .big-area .specifications li:last-child {
  border-bottom: 0;
}
.single-product .big-area .specifications li span {
  color: var(--text-color);
  font-weight: 600;
  margin-right: 3px;
}
body.dark .single-product .big-area .specifications li span {
  font-weight: 500;
}
.single-product .big-area .specifications h5 {
  margin-bottom: 8px;
}
.single-product .suggestedProducts .container { 
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 60px 30px;
}
.single-product .suggestedProducts .container .swiper {
  display: flex;
  flex-direction: column;
  padding: 33px 0;
}
.single-product .suggestedProducts .container > div > div {
  position: relative;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
/* .single-product .suggestedProducts .container > div .main-card {
  width: 18%;
} */
.single-product .suggestedProducts .container .productsTitle {
  position: relative;
  color: var(--main-color);
  text-transform: capitalize;
  width: fit-content;
}
.single-product .suggestedProducts .productsTitle::before {
  content: '';
  position: absolute;
  left: -10px;
  bottom: -12px;
  height: 2px;
  width: 66%;
  background: var(--main-color);
}
.single-product .suggestedProducts .productsTitle::after {
  content: '';
  position: absolute;
  left: -10px;
  top: 85%;
  height: 150%;
  width: 2px;
  background: var(--main-color);
}
.single-product .botom-area {
  display: flex;
  justify-content: space-between;
}
.single-product .overall {
  width: 32%;
  height: fit-content;
  background: var(--section-color);
  padding: 30px;
  box-shadow: 0px 0px 20px #00000012;
}
.single-product .overall h3 {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 20px;
}
.single-product .overall ul {
  max-width: 190px;
}
.single-product .overall li {
  display: flex;
  justify-content: space-between;
  color: var(--paragraph);
  margin-bottom: 8px;
}
.single-product .overall li .stars {
  color: var(--main-color);
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;;
}
.single-product .overall button {
  color: white !important;
  width: 100%;
  margin: 27px 0 -4px;
}


.single-product .ReviewS {
  background: var(--section-color);
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 20px;
  width: 65%;
  overflow-y: auto;
}
.single-product .ReviewS h1 {
  color: var(--main-color);
  font-size: 20px;
  margin-bottom: 27px;
}
.single-product .ReviewS .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-bottom: 25px;
  gap: 15px;
}
.single-product .ReviewS .card:last-child {
  margin-bottom: 7px;
}
.single-product .ReviewS .card > h3 {
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  color: white;
  background: #2c2e2d;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
body.dark .single-product .ReviewS .card > h3 {
  background: var(--body-color);
}
.single-product .ReviewS .card .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.single-product .ReviewS .card .text h3 {
  font-size: 16px;
  color: var(--text-color);
  text-transform: capitalize;
}
.single-product .ReviewS .card .text p:last-child {
  margin-top: 5px;
  font-size: 15px;
}
.single-product .ReviewS .card .text .stars {
  color: var(--main-color);
  font-size: 12px;
}
.single-product .ReviewS .card .text .stars i {
  margin-right: 2px;
}

.reviewModal {
  background: var(--section-color);
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px;
  padding-bottom: 20px;
  border-radius: 6px;
  width: 500px;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  scale: 0.6;
  z-index: -1;
}
.reviewModal.active {
  opacity: 1;
  visibility: visible;
  scale: 1;
  z-index: 100;
  transition: zindex 0s;
  transition: 0.3s;
}
.reviewModal > svg {
  position: absolute;
  right: 33px;
  color: var(--text-color);
  font-size: 26px;
  transform: translateY(-1px);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.reviewModal > svg:hover {
  color: white;
  background: var(--red-color);
}
.reviewModal .input {
  margin: 10px 0px;
}
.reviewModal span {
  margin: 5px 1px 0px;
  font-size: 25px;
  transform: translateY(0px);
}
.reviewModal button {
  width: 100px;
  height: 40px;
  align-self: self-end;
  position: absolute;
  bottom: 13px;
  background: var(--main-color2);
}








/*!================ SHOP ================  */

.shop-page {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.shop-page .shop-section {
  display: flex;
  gap: 17px;
}
.shop-page .filter-section.move .fixed::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.shop-page .filter-section.move .fixed::-webkit-scrollbar-thumb {
  border-radius: 0 0 0 5px;
}
.shop-page .filter-section {
  max-width: 324px;
  height: auto;
}
.shop-page .filter-section .fixed {
  padding: 7px 20px;
  border-radius: 5px;
  background: var(--section-color);
}
.shop-page .filter-section .fixed h4 {
  margin-bottom: 7px;
  letter-spacing: 0.7px;
  color: var(--main-color);
}
.shop-page .filter-section .fixed .brand-Filter-Holder h4 {
  margin-bottom: 0;
}
.shop-page .filter-section .fixed h4 + p {
  margin-top: -6px;
}
.shop-page .filter-section .fixed > div {
  border-bottom: 2px solid #999999;
  padding: 14px 0;
}
.shop-page .filter-section .fixed > div:last-child {
  border-bottom: 0;
}
.shop-page .filter-section .fixed > div:first-child {
  padding: 7px 0;
}
.shop-page .filter-section .fixed div.price-Filter-Holder {
  padding: 16px 0 17px;
}
.shop-page .filter-section .categoryFilter .category {
  width: 100%;
  padding: 2px 0;
}
.shop-page .filter-section .categoryFilter span,
.shop-page .filter-section .categoryFilter span svg {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-transform: capitalize;
}
.shop-page .categoryFilter span.active,
.shop-page .categoryFilter span.active svg {
  color: var(--main-color);
  font-size: 17px;
  font-weight: 500;
}
.shop-page .filter-section .categoryFilter .types {
  opacity: 0;
  transform: scaleY(0);
  transition: 0.1s;
  transform-origin: top center;
  height: 0px;
}
.shop-page .filter-section .categoryFilter .types.active {
  transform: scaleY(1);
  opacity: 1;
  transition: 0.4s;
  height: fit-content;
}
.shop-page .filter-section .categoryFilter .types li {
  color: var(--paragraph);
  font-size: 15px;
  margin: 5px 9px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: capitalize;
}
.shop-page .filter-section .categoryFilter .types li.active,
.shop-page .filter-section .categoryFilter .types li:hover {
  color: var(--main-color);
  margin: 5px 15px;
}
.shop-page .price-Filter-Holder .range-place {
  margin: 25px 0;
}
.shop-page .price-Filter-Holder .price-input{
  width: 100%;
  display: flex;
  margin: 7px 0 11px;
}
.shop-page .price-Filter-Holder .price-input .field{
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  gap: 15px;
}
.shop-page .price-Filter-Holder .field h3 {
  width: 100%;
  height: 65%;
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-page .price-Filter-Holder .field span {
  color: var(--text-color);
}
.shop-page .price-Filter-Holder .price-input .separator {
  width: 50px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
  color: var(--paragraph);
}
.shop-page .price-Filter-Holder .priceSlider {
  width: 92%;
  margin: -10px auto -5px;
  display: block;
  color: var(--main-color);
}
.shop-page .brand-Filter-Holder .swiper {
  padding: 2px 0 20px;
  margin-bottom: -10px;
}
body.dark .brand-Filter-Holder .swiper-pagination-bullet {
  background: var(--body-color);
}
.shop-page .brand-Filter-Holder .brands-holder {
  display: flex;
  flex-wrap: wrap;
  column-gap: 13px;
}
.shop-page .brand-Filter-Holder .brands-holder .imgHolder {
  position: relative;
  width: 30%;
  max-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-page .brands-holder .imgHolder span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  height: 17px;
  padding: 0 6px;
  border-radius: 3px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  z-index: -1;
  top: 8px;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
.shop-page .brands-holder .imgHolder span::before {
  content: "";
  position: absolute;
  border-width: 7px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  bottom: -14px;
}
body.light .shop-page .brands-holder .imgHolder span {
  color: white;
  background: black;
}
body.light .shop-page .brands-holder .imgHolder span::before {
  border-color: black transparent transparent transparent;
}
.shop-page .brands-holder .imgHolder:hover span {
  z-index: 1;
  top: -2px;
  opacity: 1;
}
.shop-page .brand-Filter-Holder .brands-holder img {
  max-width: 100%;
  object-fit: contain;
  cursor: pointer;
}
.shop-page .specifications-filter h4 {
  margin-bottom: 10px !important;
}
.shop-page .specifications-filter ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 9px;
  column-gap: 15px;
  margin-bottom: 10px;
}
.shop-page .availability-filter ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.shop-page .specifications-filter li,
.shop-page .availability-filter li {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 29%;
  text-transform: capitalize;
}


/* checkbox settings */
.ui-checkbox {
  --primary-color: #caa02d;
  --secondary-color: white;
  --primary-hover-color: #4096ff;
  --checkbox-border-radius: 3px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  --checkmark-size: 1.2;
}
.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-checkbox {
  appearance: none;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: var(--checkbox-border-radius);
  background: #d5d5d5;
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  border-color: #b8b8b8;
}
body.light .ui-checkbox {
  background: white;
}
.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 calc(20px / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}
.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}
/* actions */
.ui-checkbox:hover {
  border-color: var(--primary-color);
}
.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}
.ui-checkbox:checked::before {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.ui-checkbox:active:not(:checked)::after {
  box-shadow: none;
  transition: none;
  opacity: 1;
}

.shop-page .products-section {
  width: 100%;
}
.shop-page .products-section .btns-nav {

}
.shop-page .products-section .products-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 17px;
}
.shop-page .products-section .products-holder.list {
  display: flex;
  flex-wrap: wrap;
}
.shop-page .products-holder.list .main-card {
  width: 100%;
  display: flex;
  align-items: center;
  height: 250px;
  gap: 18px;
  overflow: hidden;
}
.shop-page .products-holder.list .main-card .image {
  width: 27%;
  margin-left: 12px;
}
.shop-page .products-holder.list .main-card .holder {
  padding: 0;
  scale: 1.07;
}
.shop-page .products-holder .main-card p.details {
  display: none;
}
.shop-page .products-holder.list .main-card p.details {
  display: block;
  max-width: 536px;
  letter-spacing: 0.7px;
  font-size: 14px;
}
.shop-page .products-holder.list .main-card .lastHolder span {
  position: relative;
  top: 0;
  right: 0;
}
.shop-page .products-holder.list .main-card .lastHolder {
  justify-content: flex-start;
  gap: 10px;
}








.shop-page .products-section .main-card .holder {
  padding: 17px;
  padding-top: 0;
} 
.shop-page .products-section .main-card .lastHolder span {
  position: absolute;
  top: 9px;
  right: 10px;
}
.shop-page .products-section .main-card .price p.saleNum {
  font-weight: 600;
}







.shop-page .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}
.shop-page .btns > div {
  display: flex;
  align-items: center;
  gap: 13px;
}
.shop-page .btns > div.grids {
  gap: 10px;
}
.shop-page .btns h3 {
  font-weight: 300;
  letter-spacing: 0.2px;
  font-family: sans-serif;
  text-transform: capitalize;
  color: var(--text-color);
}
.shop-page .btns .ptn-holder {
  font-size: 14px;
  padding: 14px 18px;
  border: none;
  position: relative;
  transition: 0.3s;
  background: var(--section-color);
  color: var(--text-color);
}
.shop-page .btns .puttons,
.shop-page .btns .mobileFilterBtn {
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  background: var(--section-color);
  box-shadow: 0px 0px 20px #00000012;
  min-width: 175px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.shop-page .btns .mobileFilterBtn {
  min-width: unset;
  height: 43px;
  color: var(--text-color);
  padding: 0 15px;
}
.shop-page .btns .mobileFilterBtn svg {
  font-size: 21px;
}
.shop-page .btns .puttons h4 {
  font-size: 14px;
  color: var(--text-color);
  padding: 13px 8px 13px 15px;
}
.shop-page .btns .puttons span { 
  position: relative;
  color: var(--text-color);
  text-transform: capitalize;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding-right: 7px;
}
.shop-page .btns .puttons span svg {
  transform: translateY(3px);
  margin-left: 5px;
  transition: 0.3s;
}

.shop-page .btns .puttons span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -7px;
  width: 2px;
  height: 18px;
  background-color: var(--main-color);
}
.shop-page .btns .puttons .select {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 9px 12px;
  border-radius: 0 0 4px 4px;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
  background: var(--section-color);
  box-shadow: rgba(0, 0, 0, 0.6) 0 10px 30px;
}
.shop-page .btns .puttons .select.active {
  top: 44px;
  opacity: 1;
  z-index: 4;
}
.shop-page .btns .puttons .select::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  transition: 0.5s;
  background: var(--main-color);
  transform: translateX(-50%);
}
.shop-page .btns .puttons .select.active::before {
  width: 100%;
}
.shop-page .btns .puttons .select li {
  font-size: 15px;
  cursor: pointer;
  transition: margin 0.3s;
  padding: 4px 0;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.shop-page .btns .puttons .select li:hover,
.shop-page .btns .puttons .select li.active {
  color: var(--main-color);
  font-weight: 700;
}
.shop-page .btns .puttons .select li:hover {
  margin-left: 5px;
}
.shop-page .btns .mobileFilterBtn + div {
  display: flex;
  gap: 13px;
} 
.shop-page .btns .grids svg {
  color: var(--text-color);
  border-radius: 3px;
  background: var(--section-color);
  cursor: pointer;
  transition: 0.3s;
  width: 38px;
  height: 38px;
  padding: 8px;
}
.shop-page .btns .grids svg.active {
  background: var(--main-color);
  color: white;
}

.paginationHolder .pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}
.paginationHolder .pagination  li .page-num {
  padding: 10px 18px;
  max-width: 45px;
  max-height: 40px;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  color: var(--text-color);
  background: var(--section-color);
}
.paginationHolder .pagination  li.selected .page-num {
  background: var(--main-color);
  color: white;
  font-weight: 800;
}
.paginationHolder .pagination  li.next a,
.paginationHolder .pagination  li.previous a{
  max-width: 90px;
  max-height: 40px;
}
.shop-page .panner {
  position: relative;
  overflow: hidden;
  padding: 0;
  height: 500px;
  border-radius: 31px;
  margin: 25px 0 -40px;
}
.shop-page .panner img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.shop-page .panner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: 0;
  transition: 0.5s;
  background: rgba(14, 14, 14, 0.262);
}

.shop-page .panner:hover::after {
  width: 100%;
  height: 100%;
  scale: 2.1;
  border-radius: 15% 0 0 100%;
}





















/*! ======================= MEDIA QUERY ========================= */

/*! MAX 1600 */
@media(max-width:1600px) {
  .landing {
    max-width: 1470px;
  }
  .swiper-slide img {
    object-fit: fill;
  }
  .categories .card  {
    padding: 26px 0 12px 30px;
  }
  .single-product .suggestedProducts .main-card .holder {
    padding: 18px;
  }
  .main-card .lastHolder {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 4px;
    margin-bottom: -5px;
  }
  .price p.mainPrice {
    font-size: 19px;
  }
}
/*! MAX 1400 */
@media(max-width:1400px) {
  .landing {
    flex-direction: column;
    max-width: 92%;
  } 
  .landing .swiper {
    width: 100%;
    border-bottom-right-radius: 50px;
  }
  .swiper-slide img {
    object-fit: cover;
  }
  .second_section {
    max-width: none;
    width: 100%;
    gap: 17px;
    overflow: hidden;
    justify-content: center;
    margin-top: 20px;
  }
  .second_section .images {
    width: 23%;
  }
  .second_section .images img {
    height: fit-content;
  }
}
/*! MAX 1200 */
@media(max-width:1200px) {
  .brands .swiper-slide img {
    padding: 0 20px;
  }
  .categories .container {
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
  }  
  .offer .sale h2 {
    font-size: 16px;
  }
  .single-product .top-space {
    gap: 30px;
    justify-content: space-between;
  }
  .single-product .image-holder {
    width: 57%;
  }
  .single-product .info-holder {
    width: 42%;
  }
  .big-area {
    flex-direction: column;
    gap: 15px;
  }
  .single-product .info-holder .buttons {
    flex-wrap: wrap;
  }
}

/*! MIN 992 */
@media(min-width:992px) {
  .shop-page .filter-section.move {
    height: auto;
    min-width: 325px;
    max-width: unset;
  }
  .shop-page .filter-section.move .fixed {
    position: fixed;
    width: 325px;
    transform: translateY(-115px);
    max-height: 900px;
    overflow: auto;
  }
  .shop-page .filter-section.stop {
    display: flex;
    align-items: flex-end;
  }
  .shop-page .filter-section.stop .fixed {
    position: relative;
    transform: translateY(0);
    width: 325px;
  }
  .shop-page .btns .mobileFilterBtn {
    display: none;
  }
  .shop-page .filter-section .fixed .topText {
    display: none;
  }
}

/*! MAX 992 */
@media(max-width:992px) {
  .categoriesTitle {
    font-size: 19px;
  }
  .landing .swiper {
    height: 300px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }
  .categories .card {
    padding: 26px 0 10px 30px;
    height: 100%;
  }
  .brands {
    margin: 85px 0 -46px; 
  }
  .brands .swiper-slide {
    min-height: 111px;
    width: 180px;
    overflow: hidden;
  }
  .brands:before, .brands:after {
    width: 200px;
  }
  .brands .swiper-slide h4 {
    height: 25px;
  }
  .brands .swiper-slide:hover h4 {
    width: 60% !important;
  }

  .offer .container {
    flex-direction: column;
    gap: 63px;
  }
  .offer .bigHolder .products {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr)); 
  }
  .offer .bigHolder {
    width: 100%;
  }
  .offer .saleHolder {
    width: 100%;
  }
  .offer .saleHolder .swiper .swiper-slide::before {
    content: "";
    position: absolute;
    height: 75%;
    width: 2px;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--main-color);
  }
  .offer .sale .image {
    display: flex;
    justify-content: center;
  }
  .offer .sale a {
    font-size: 21px;
    padding: 8px 0;
  }
  .offer .sale span {
    font-size: 26px;
  }
  .offer .sale p {
    max-width: 543px;
  }
  .offer .saleHolder .sectionTitleSale {
    position: absolute;
    writing-mode: unset;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    top: -42px;
    right: unset;
    left: 50%;
    transform: translateY(0);
    transform: translateX(-50%);
  }
  .offer .saleHolder .sectionTitleSale::before,
  .offer .saleHolder .sectionTitleSale::after {
    width: 80px;
    height: 3px;
    top: 50%;
    left: unset;
    transform: translateY(-50%);
    transform: translateX(0);
  }
  .offer .saleHolder .sectionTitleSale::before {
    left: -60%;
  }
  .offer .saleHolder .sectionTitleSale::after {
    right: -60%;
  }
  .products .container {
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  }
  .single-product .top-space {
    flex-direction: column;
  }
  .single-product .info-holder,
  .single-product .image-holder {
    width: 100%;
  }
  .single-product .info-holder .buttons button {
    width: 175px;
    height: 50px;
    border-radius: 6px; 
  }
  .single-product .big-area {
    gap: 0;
  }
  .single-product .overall h3 {
    font-size: 18px;
  }
  .single-product .overall {
    padding: 23px;
  }
  .single-product .big-area .info-area1 {
    gap: 0 !important;
  }
  .single-product .big-area .features li {
    max-width: 365px;
  }
  .single-product .suggestedProducts .container {
    gap: 12px;
    padding: 60px 8px;
  }
  .single-product .ReviewS {
    padding: 22px;
  }
  .shop-page .filter-section {
    position: fixed;
    z-index: 99;
    top: 59px;
    left: -340px;
    height: 100%;
    scale: 1.1;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.6) 0 10px 30px;
  }
  .shop-page .filter-section.active {
    left: 16px;
  }
  .shop-page .filter-section .fixed {
    height: 100%;
    padding: 23px;
    max-height: 91%;
    overflow: auto;
  }
  .shop-page .filter-section .fixed > div:last-child {
    border-bottom: 2px solid #999999;
  }

  .shop-page .filter-section .fixed .topText {
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    padding-bottom: 10px !important;
  }
  .shop-page .filter-section .fixed .topText svg {
    font-size: 25px;
    transition: 0.3s;
  }
  .shop-page .filter-section .fixed .topText svg:hover {
    color: var(--main-color);
  }
  .shop-page .products-holder.list .main-card p.details {
    max-width: 412px;
  }
  .shop-page .main-card .price p.saleNum {
    position: relative;
    top: unset;
    right: unset;
  }
  .shop-page .panner,
  .shop-page .panner img  {
    height: 400px;
    margin-bottom: -75px;
  }
}

/*! MAX 768 */
@media(max-width:768px) { 
  .landing {
    max-width: 100%;
  }
  .landing .swiper {
    height: 173px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}
  .second_section {
    row-gap: 3px;
    column-gap: 9px;
  }
  .second_section .images {
    width: 44%;
  }  
  .swiper-slide img {
    object-fit: cover;
  }
  .brands:before, .brands:after {
    display: none;
  }

  .offer .sale p {
    font-size: 14px;
  }
  .sale .review {
    align-items: center;
  }
  .offer .sale h2 { 
    font-size: 17px;
  }
  .offer .saleHolder .swiper .swiper-slide::before {
    display: none;
  }
  .products .sectionFilter li {
    padding: 12px 9px;
    font-size: 13px;
  } 
  .single-product .image-holder {
    height: fit-content;
  }
  .single-product .info-holder, .single-product .image-holder {
    flex-direction: column-reverse;
  }
  .single-product .image-holder .small-images {
    width: unset;
    flex-direction: row; 
  }
  .single-product .image-holder .mainImage {
    width: 100%;
    height: 250px; 
  }
  .single-product .image-holder .small-images img {
    height: 50px;
    width: 64px; 
  }
  .single-product .info-holder .buttons {
    gap: 12px;
    flex-wrap: wrap;
  }
  .single-product .info-holder .buttons button {
    width: 48%;
    height: 45px; 
  }
  .botom-area {
    flex-direction: column;
    gap: 30px;
  }
  .overall,
  .ReviewS {
    width: 100%;
  }
  .ReviewS .card img {
    width: 60px;
  }
  .ReviewS h1 {
    margin-bottom: 35px;
  }
  .single-product .big-area .features li {
    max-width: 314px;
  }
  .reviewModal {
    width: 100%;
  }
  .single-product .overall,
  .single-product .ReviewS {
    width: 100%;
  }
  .single-product .big-area, 
  .single-product .ReviewS { 
    padding: 20px;
  }
  .single-product .big-area .info-area1 {
    min-width: unset;
  }
  .single-product .suggestedProducts .main-card .holder {
    padding: 10px;
  }
  .single-product .big-area .info-area1 {
    flex-direction: column;
  }
  .single-product .suggestedProducts .main-card .review p {
    text-align: center;
  }

  .shop-page {
    margin: 16px 0 40px;
  }
  .shop-page .btns > div {
    flex-direction: column;
    align-items: flex-start;
  }
  .shop-page .btns > div.grids {
    position: absolute;
    flex-direction: row;
    transform: translateY(-26px);
    right: 15px;
  }
  .shop-page .btns .mobileFilterBtn + div {
    font-size: 12px;
    justify-content: center;
  }
  .shop-page .btns .puttons {
    min-width: 194px;
  }
  .shop-page .btns .puttons:last-child {
    width: 152px;
    min-width: unset;
  }
  .shop-page .btns .puttons h4 {
    font-size: 13px;
    padding: 13px 8px 13px 11px;
  }
  .paginationHolder .pagination {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 89%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .paginationHolder .pagination li .page-num {
    max-width: 40px;
    max-height: 34px;
    font-size: 14px;
  }
  .paginationHolder .pagination {
    max-width: 90%;
  }
  .shop-page .panner,
  .shop-page .panner img  {
    margin-bottom: -75px;
    width: 100%;
    height: 218px;
  }
  .shop-page .panner {
    border-radius: 0;
  }
}